<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="CSS/style-login.css">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div id='container'>
    <div id='box-left'></div>
    <div id='box-center'>
        <br></br>
        <br></br>
        <br></br>
        <div>
            <h1>쉬운 예약</h1>
            <div class="login-wrapper">
                <form method="post" action="members/new" id="login-form">
                    <input type="text" name="userName" placeholder="이름">
                    <input type="button" name="idCheck" value="중복확인">
                    <input type="text" name="userId" placeholder="아이디">
                    <input type="password" name="userPw" placeholder="비밀번호">
                    <input type="password" name="userPwCheck" placeholder="비밀번호 확인">
                    <input type="text" name="userEmail" placeholder="이메일">
                    <input type="submit" value="회원가입">
                </form>
            </div>

        </div>

    </div>
    <div id='box-right'></div>
</div>
</body>
</html>
